BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: false
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SortIncludes: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
Standard: c++11
